*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

.page {
    font-size: 18px;
    background-color: #1b1919;
    inline-size: 1200px;
    block-size: 100%;
    color: #fff;

    display: flex;
    place-content: center;
    margin: auto;
    font-family: "Fira Sans Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
}

.content {
    gap: 30px;
    width: 1140px;
    grid-template-columns: 711px 399px;

    display: grid;
    grid-template-areas: "result details";
    justify-items: end;
    align-items: end;
    align-content: center;

}

.result {
    grid-area: result;
}

.content__details {
    width: 100%;
    height: 100%;

    grid-area: details;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.content__list-container {
    height: 298px;
    overflow-y: scroll;
}

.title {
    width: 259px;
    height: 210px;
    margin-bottom: 26px;
    font-weight: 700;
    font-size: 75px;
    line-height: 0.94;
    color: #ffffff;
    —webkit-line-clamp: 2;

    display: -webkit-box;
    overflow: hidden;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;

}

.result__video-container {
    width: 711px;
    height: 386px;
    margin-bottom: 18px;
}

.result__video {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.content__list {
    display: grid;
    gap: 30px;
}

.content__video-card {
    width: 100%;
    max-width: 100%;
    height: 100%;

    box-sizing: border-box;
    display: flex;
    align-items: start;
    overflow: hidden;
}

.content__video-card-thumbnail {
    width: 194px;
    height: 103px;
    object-fit: cover;
    object-position: center;
}

.content__video-card-description-container {
    flex-grow: 1;
}

.search-form__fieldset-title {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;

    font-family: "Fira Sans Condensed";
}

.content__accent {
    color: #545050;
}

.title .content__accent {
    color: #545050;
    font-weight: 400;
}

.content__card-link {
    width: 100%;
    max-width: 100%;
    height: 100%;
    color: #fff;
    transition: background 0.2s, color 0.2s;

    box-sizing: border-box;
    display: block;
    overflow: hidden;
    border: none;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
}

.content__video-card-title {
    max-width: 100%;
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0;

    display: block;
    overflow: hidden;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content__video-card-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
    margin-top: 6px;
    -webkit-line-clamp: 3;
    line-clamp: 2;

    display: -webkit-box;
    overflow: hidden;
    font-family: "Fira Sans Condensed", sans-serif;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    inline-size: 1px;
    block-size: 1px;
    clip-path: inset(50%);

    position: absolute;
    overflow: hidden;
    white-space: nowrap;
}

fieldset {
    border: none;
}

.search-form__checkbox-list {
    gap: 15px;

    display: flex;
}

.search-form__label {
    padding: 2px;

    display: flex;
    width: fit-content;
}

.search-form__textfield {
    width: 225px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-weight: 400;
    font-size: 18px;

    border-right: none;
    border-left: none;
    color: white;
    font-family: "Fira Sans Condensed";
    background-color: transparent;
    cursor: pointer;
    appearance: none;
}

.search-form__textfield:focus-visible {
    border-radius: 0;
    outline: 1px solid white;
    outline-offset: 1px;
}

.search-form__pseudo-checkbox {
    z-index: -4;
    width: 19px;
    height: 19px;
    margin: 1.5px 5px 1.5px 0;
    border: 1px solid white;

    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%);

    content: "";
    position: absolute;
    background-color: white;
}

.search-form__label:hover {
    text-decoration: underline;
}

.search-form__label:has(.search-form__textfield):hover {
    text-decoration: none;
}

.search-form__checkbox:focus-visible + .search-form__pseudo-checkbox {
    outline: 1px solid #fff;
    outline-offset: 1px;
}

.search-form__checkbox:focus {
    outline: none;
}

.button {
    border: 1px solid white;
    font-weight: 700;
    font-size: 18px;

    color: white;
    font-family: "Fira Sans Condensed";
    background-color: transparent;
    cursor: pointer;
}

.search-form__submit-button {
    flex: 0 0 194px;
    width: 194px;
    height: 34px;

    align-self: end;
}

.more-button {
    width: 100%;
    height: 34px;
    margin-top: 24px;
    margin-bottom: 2px;
}

.button:hover {
    text-decoration: underline;
}

.button:active {
    background-color: #545050;
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    outline: 1px solid white;
    outline-offset: 1px;
}

.content__list-item {
    width: 390px;
    height: 103px;
    padding-right: 0;
    padding-left: 0;

    box-sizing: border-box;
}

.content__card-link_current {
    background: #545050;
}

.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
    text-underline-offset: 3px;

    text-decoration: underline;
}

.content__card-link:active {
    background: #545050;
}

.content__card-link:focus {
    outline: none;
}

.content__card-link:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 0;
}